@charset "utf-8";
/* CSS Document */
body	{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}
h1	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16pt;
	margin: 0.5em 1em 0 1em;
}
h2	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-transform: uppercase;
	margin: 0 0 0.5em 0;
}
h3	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-transform: capitalize;
	margin: 0 0 0.5em 0;
}
label	{
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.hierarchyLevel {
	font-weight: bold;
	margin: 0 0.2em;
	padding: 0.25em 0.5em 0.2em 0.5em;
	background-color: #e0e0e0;
	cursor: -webkit-grab;
}
.tree-node {
	margin-left: 1em;
	/* border: thin solid gray; */
}
.tree-node-expander {
	display: inline-block;
	width: 1em;
	margin-right: 0.5em;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border: thin lightgray solid;
}
.tree-leaf>.tree-node-expander {
	cursor: default;
	visibility: hidden;
}
.tree-node-label {
	width: auto;
	display: inline-block;
	background-color: #f8f8f8;
	margin-bottom: 2px;
	cursor: pointer;
}
.tree-leaf>.tree-node-label {
	background-color: lightgray;
}
.tree-node>.tree-node-hilite {
	background-color: #f8f8e0;
}
.tree-node>.tree-node-select {
	background-color: #f8f880;
}
.tree-leaf>.tree-node-hilite {
	background-color: #e0f8e0;
}
.tree-leaf>.tree-node-select {
	background-color: #80f880;
}
/*.tree-node-level1 {
	display: block;
} 
.tree-node-level2, 
.tree-node-level3, 
.tree-node-level4, 
.tree-node-level5, 
.tree-node-level6, 
.tree-node-level7 {
	display: none;
}*/
.hide-children>.tree-node {
	display: none;
}
#allDiv	{
	width: 100%;
}
#queryDiv	{
	display: inline-block;
	vertical-align: top;
	width: 48.5%;
	min-width: 440px;
	padding: 1% 0.5% 1% 1%;
	border-right: 1px black solid;
}
#queryGeoDiv	{
	width: 100%;
}
#queryMapControl	{
	display: inline-block;
	width: 65%;
	height: 400px;
	background-color: silver;
	padding-right: 2%;
}
#queryLocControlsDiv	{
	display: inline-block;
	vertical-align: top;
	width: 29%;
	padding: 0 2% 0 2%;
	text-align: left;
}
#queryLocControlsDiv input[type=text]	{
	width: 100%;
	margin-bottom: 4pt;
}
#queryLocControlsDiv select	{
	display: block;
	width: 100%;
	margin-bottom: 4pt;
}

#queryTypeDiv	{
	display: inline-block;
	vertical-align: top;
	width: 31%;
	padding: 1% 2% 1% 0;
	text-align: left;
}
#queryTypeDiv input[type=text]	{
	width: 100%;
	margin: 0 0 4pt 0;
}
#queryTypeDiv select  {
	display: block;
	width: 100%;
	margin-bottom: 4pt;
}
#sumCatsDiv	{
	display: none;
}
#sumDirsDiv	{
	display: none;
}
#sumLanesDiv	{
	display: none;
}
#ADTDiv	{
	display: none;
}
#queryTimeDiv	{
	display: inline-block;
	vertical-align: top;
	width: 29%;
	padding: 1% 2% 1% 2%;
	text-align: left;
	border-left: 1px silver solid;
	border-right: 1px solid silver;
}
#dayControlsDiv	{
	display: none;
}
#daysDiv	{
	display: none;
	margin-left: 1em;
}
#monthsDiv	{
	display: none;
	margin-left: 1em;
}
#avgDaysDiv	{
	margin-left: 1em;
}
#aggregationIntervalDiv	{
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 1em;
	display: none;
}
#queryProjDiv	{
	display: inline-block;
	vertical-align: top;
	width: 29%;
	padding: 1% 2% 1% 2%;
	text-align: left;
}
#queryProjDiv input[type=text]	{
	width: 100%;
	margin: 0 0 4pt 0;
}
#queryProjDiv select  {
	display: block;
	width: 100%;
	margin-bottom: 4pt;
}
#queryRespPartsDiv	{
	text-align: left;
}
#hierarchyDiv	{
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	padding: 0.25em;
	vertical-align: middle;
	background-color: #f8f8f8;
}
#hierarchyDiv>div	{
	display: inline-block;
}
#treeControlDiv	{
	height: 100px;
	padding: 1% 2% 1% 0;
}
#queryFinalDataDiv	{
	text-align: right;
	padding: 1% 2% 1% 0;
}
#responseDiv	{
	display: inline-block;
	vertical-align: top;
	width: 47%;
	min-width: 440px;
	text-align: left;
	padding: 1%;
}
#responseFormatDiv	{
	height: 100px;
	background-color: silver;
}
#responseOutputDiv	{
	overflow: scroll;
	height: 600px;
}

#responseOutputDiv table	{ table-layout: fixed; }

#responseOutputDiv th	{
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
#responseOutputDiv td	{
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
#responseOutputDiv .COUNT_LOCATION_ID	{ width: 5em; }
#responseOutputDiv .STREETNAME			{ width: 15em; }
#responseOutputDiv .AUTO_RTE_NUMBER		{ width: 4em; }
#responseOutputDiv .ALT_RTE_NUMBER		{ width: 6em; }
#responseOutputDiv .ROADINVENTORY_ID	{ width: 6em; }
#responseOutputDiv .LOC_DESC			{ width: 25em; }
#responseOutputDiv .TOWN_ID				{ width: 3em; }
#responseOutputDiv .TOWN				{ width: 12em; }
#responseOutputDiv .X					{ width: 6em; }
#responseOutputDiv .Y					{ width: 6em; }
#responseOutputDiv .AGENCY_ID			{ width: 2em; }
#responseOutputDiv .AGENCY				{ width: 18em; }
#responseOutputDiv .CLIENT_ID			{ width: 2em; }
#responseOutputDiv .CLIENT				{ width: 15em; }
#responseOutputDiv .TYPE_ID				{ width: 2em; }
#responseOutputDiv .PROJECT_ID			{ width: 2em; }
#responseOutputDiv .DATE_FIRST			{ width: 9.5em; }
#responseOutputDiv .DATE_LAST			{ width: 9.5em; }
#responseOutputDiv .TYPE				{ width: 5em; }
#responseOutputDiv .TYPE_DESCRIPTION	{ width: 25em; }
#responseOutputDiv .PROJECT_NAME		{ width: 15em; }
#responseOutputDiv .PROJECT_DESCRIPTION	{ width: 25em; }
#responseOutputDiv .DIR					{ width: 1em; }
#responseOutputDiv .LANES				{ width: 2em; }
#responseOutputDiv .LANE_RANGE			{ width: 3em; }
#responseOutputDiv .CATEGORY_CODE		{ width: 2em; }
#responseOutputDiv .DATA_TABLE			{ width: 7em; }
#responseOutputDiv .DATE_START			{ width: 9.5em; }
#responseOutputDiv .DATE_END			{ width: 9.5em; }
#responseOutputDiv .CP_DESC				{ width: 37em; }
#responseOutputDiv .EST_DATA_ROWS		{ width: 5em; }
#responseOutputDiv .count_data			{ width: 3em; }

#responseManipulationDiv	{
	text-align: right;
}